<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include
		resource="org/springframework/boot/logging/logback/base.xml" />
	<logger name="org.springframework" level="OFF" />
	<logger name="ch.qos.logback" level="OFF" />

	<appender name="CONSOLE"
		class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%m%n
			</Pattern>
		</layout>
	</appender>

	<logger name="com.bootcamp.demo" level="info" additivity="false">
		<appender-ref ref="CONSOLE" />
	</logger>
</configuration>
